<header class="search_header header">
    <input class="search" type="search" />
  </header>
  
  <div class="search_content">	
        
    <ul class="item_list clearfix">
      <li>
        <img class="item_img" src="../../../assets/images/1.jpg" />
        <div class="inner">
          <h3 class="title">大蒜腊肉</h3>							
          <p class="price">¥26</p>							
          <span>已售:351份</span>
        </div>
      </li>
      <li>
        <img class="item_img" src="../../../assets/images/2.jpg" />
        <div class="inner">
          <h3 class="title">大蒜腊肉</h3>							
          <p class="price">¥26</p>							
          <span>已售:351份</span>
        </div>
      </li>
      <li>
        <img class="item_img" src="../../../assets/images/3.jpg" />
        <div class="inner">
          <h3 class="title">大蒜腊肉</h3>							
          <p class="price">¥26</p>							
          <span>已售:351份</span>
        </div>
      </li>
      
    </ul>

  </div>
  
  
  
  
  <div id="footer_nav" class="footer_nav">
    <img src="../../../assets/images/navigation.png"/>
    <p>导航</p>
  </div>
    
  
  <div id="footer_book" class="footer_book">
    <img src="../../../assets/images/menu.png"/>
    <p>菜单</p>
  </div>
  
  
  
  <div id="footer_cart" class="footer_cart">
    <img src="../../../assets/images/cart.png"/>
    <p>购物车</p>
  </div>